$visual-grid: false !global;
$visual-grid-color: red !global;
$visual-grid-index: front !global;

// Base files
@import 'base/reset';
@import 'base/typography';

// Helpers
@import 'helpers/variables';
@import 'helpers/mixins';

@import 'vendor/normalize/normalize';
@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'vendor/bitters/base';
@import 'vendor/font-awesome/font-awesome';

// Theme
@import 'themes/main-theme';

//Layouts
@import 'layout/layout';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/projects';
@import 'layout/tasks';

//Components
@import 'components/link';
@import 'components/menu';
@import 'components/form';
@import 'components/buttons';
@import 'components/options';
@import 'components/loaders';
