{{> loader }}
<section class="sctn-dark-gradient heading">
	<i class="fa fa-th fa-5x"></i>
	<h1 class="inline secondary">Projects</h1>
	<button class="btn new-project">New project</button>
</section>
<section class="sctn-light" id="projects">
	<div class="projects-container"></div>
</section>
<section class="sctn-light" id="no-projects">
	<p class="no-projects-msg secondary">Add a new project and start timing your tasks.</p>
</section>
{{> newproject }}
