{{> loader }}
<section class="sctn-light">
  <a href="/dashboard/projects"><button>Return to projects</button></a>
  <i class="task-control fa fa-play fa-2x"></i>
  <div class="container">
  </div>
</section>
