<header>
	<nav>
		<div class="title">
			<img src="images/logo-inverted.svg" alt="Cronus Time Tracking">
			<h1>cronus</h1>
		</div>
		<a href="javascript:void(0)" class="activate-menu"><i class="fa fa-ellipsis-v fa-3x hover-opacity"></i></a>
		<ul class="nav-list">
			<li><a href="#">About</a></li>
			<li><a href="#">Features</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Logout</a></li> 
		</ul>
	</nav>
</header>