<header>
	<nav>
		<div class="title">
			<a href="/"><img src="/images/logo-inverted.svg" alt="Cronus Time Tracking" class="hover-opacity"></a>
			<a href="/"><h1 class="hover-opacity">cronus</h1></a>
		</div>
		<div class="click-menu menu-right">
			<a href="javascript:void(0)" class="activate-menu"><i class="fa fa-ellipsis-v fa-3x hover-opacity"></i></a>
			<ul class="nav-list">
				<li class="menu-item"><a href="#">About</a></li>
				<li class="menu-item"><a href="#">Features</a></li>
				<li class="menu-item"><a href="#">Contact</a></li>
				<li class="menu-item desktop-hide">
					{{#if loggedIn}}
						<a href="/logout">Logout</a>
					{{else}}
						<a href="/login">Login</a>
					{{/if}}
				</li>
				{{#unless loggedIn}}
					<li class="menu-item desktop-hide">
						<a href="/register">Register</a>
					</li>
				{{/unless}}
			</ul>
		</div>
		<div class="mobile-hidden user-controls">
			{{#if loggedIn}}
				<a href="/logout"><button>Logout</button></a>
			{{else}}
				<a href="/login"><button id="login">Login</button></a> <span id="or">or</span> <a href="/register"><button>Register</button></a>
			{{/if}}
		</div>
	</nav>
</header>
