<div class="project-overlay">
	<div class="project-modal">
		<h3 class="secondary">New Project</h3>
		<input type="hidden" id="csrf" name="_csrf" value={{csrfToken}}>
		<input type="text" name="project_name" id="project-name" placeholder="Project name" class="form-input">
		<textarea name="description" id="project-description" placeholder="Description" class="form-input"></textarea>
		<div class="select-colors">
			<div class="selected-color"></div>
		</div>
		<div class="tooltip-element">
			<div class="tooltip">
				<p>Set the default billable amount for all tasks of this project.</p>
			</div>
			<input type="text" name="default_amt" id="project-amt" placeholder="$0.00" class="form-input">
		</div>
		<p class="tags">
			Tags placeholder
		</p>
		<span class="btn-container"><button id="add-project">Add project</button></span>
	</div>
	<ul class="color-list">
		<li class="color-item blue"></li>
		<li class="color-item red"></li>
		<li class="color-item green"></li>
		<li class="color-item yellow"></li>
		<li class="color-item purple"></li>
		<li class="color-item cyan"></li>
	</ul>
</div>