<div class="overlay">
	<div class="project-modal">
		<h3 class="secondary">New Project</h3>
		<input type="text" name="project_name" id="project-name" placeholder="Project name">
		<textarea name="description" id="project-description" placeholder="Description"></textarea>
		<div class="select-colors">
			<div class="selected-color"></div>
		</div>
	</div>
	<ul class="color-list">
		<li class="color-item blue"></li>
		<li class="color-item red"></li>
		<li class="color-item green"></li>
		<li class="color-item yellow"></li>
		<li class="color-item purple"></li>
		<li class="color-item cyan"></li>
	</ul>
</div>