<div class="project-overlay">
	<div class="project-modal">
		<h3 class="secondary">New Project</h3>
		<input type="hidden" id="csrf" name="_csrf" value={{csrfToken}}>
		<input type="text" name="project_name" id="project-name" placeholder="Project name" class="form-input">
		<textarea name="description" id="project-description" placeholder="Description" class="form-input"></textarea>

		<div class="select-colors">
			<div class="selected-color"></div>
		</div>
		<div class="dropdown-color">
				<ul class="color-list">
					<li>
						<div class="color-item blue"></div>
					</li>
					<li>
						<div class="color-item red"></div>
					</li>
					<li>
						<div class="color-item green"></div>
					</li>
					<li>
						<div class="color-item yellow"></div>
					</li>
					<li>
						<div class="color-item purple"></div>
					</li>
					<li>
						<div class="color-item cyan"></div>
					</li>
				</ul>
		</div>

		<div class="tooltip-element">
			<div class="tooltip">
				<p>Set the default billable amount for all tasks of this project.</p>
			</div>
			<input type="text" name="default_amt" id="project-amt" placeholder="$0.00" class="form-input">
		</div>
		<p class="tags">
			Tags placeholder
		</p>
		<span class="btn-container"><button id="add-project">Add project</button></span>
	</div>
</div>
