<div class="dropdown batch-controller">
  <i class="dropdown-icon fa fa-wrench"></i>
  <ul class="dropdown-menu batch-menu">
    <li class="dropdown-action batch-action delete">Delete Selected</li>
    <li class="dropdown-action batch-action edit">Bulk Edit</li>
  </ul>
</div>
