body {
	font-family: OpenSans-Reg;
	color: $primary-font-color;
	font-size: $font-size-regular;
}

a {
	color: $accent-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.content {
	padding-top: 100px;
	@include outer-container(100%);
	width: 100%;
	height: auto;
}

h1 {
	font-size: $font-size-xxlarge;
	text-align: center;
}

h2 {
	font-size: $font-size-xlarge;
}

h3 {
	font-size: $font-size-large;
}

h4 {
	font-size: $font-size-large;
}

p {
	font-size: $font-size-regular;
}

hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

section {
	@include span-columns(12);
	@include omega();
	@include padding(50px 18px 50px 18px);
	input {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.sctn-dark-gradient {
	@include linear-gradient($primary-color-dark, tint($primary-color-dark, 10%));
	color: $inverted-font-color;
}

.no-footer {
	position: absolute;
	min-height: 90%;

	p {
		@include span-columns(12);
		text-align: center;
	}
}

.sctn-dark {
	background-color: $primary-color-dark;
	color: $inverted-font-color;
}

.sctn-medium {
	background-color: shade($dark-background-color, 5%);
}

.sctn-light {
	background-color: $base-background-color;
}