body {
	font-family: OpenSans-Reg;
	color: $primary-font-color;
	font-size: $font-size-regular;
}

a {
	color: $accent-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.content {
	margin-top: 102px;
	padding: 18px;
	@include outer-container();
	@include size(100%);
}