nav {
	@include outer-container(100%);
	@include span-columns(12);
	@include padding(10px 1rem 10px 1rem);
	@include box-shadowing;
	position: absolute;
	top: 0;
	background-color: $primary-color-dark;
	height: 100px;
	line-height: 40px;
}

.title {
	@include span-columns(8);
	font-family: bariol-reg;

	img {
		@include size(70px);
		@include span-columns(3);
		margin-top: 5px;
	}

	h1 {
		@include span-columns(6);
		@include pad(5px);
		margin-top: 15px;
		font-size: $font-size-huge;
		color: $inverted-font-color;
	}
}