.projects-container {
	@include span-columns(12);
	text-align: center;
}

input.dollar-amt {
	@include row;
	@include span-columns(6);
	@include shift(0);
	text-align: left;
	margin-top: -5px;
	padding: 5px;
	font-size: $font-size-small;
	height: auto;
	border: none;

	&:disabled {
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		cursor: none;
		opacity: 1;
		-webkit-text-fill-color: tint($primary-font-color, 25%);
		color: tint($primary-font-color, 25%);

		&:hover {
			cursor: default;
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
	}
}

.project-edit-amt {
	@include span-columns(2);
	width: 1px;
}

textarea.project-card-name {
	@include row;
	@include span-columns(12);
	font-family: bariol-reg;
	font-size: $font-size-xlarge;
	padding: 5px;
	text-align: center;
	border: none;
	resize: none;

	&:disabled {
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		opacity: 1;
		-webkit-text-fill-color: tint($primary-font-color, 25%);
		color: tint($primary-font-color, 25%);

		&:hover {
			cursor: default;
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
	}
}

textarea.project-card-description {
	@include row;
	@include span-columns(12);
	margin-top: -10px;
	height: auto;
	resize: none;
	text-align: center;
	padding: 5px;
	border: none;

	&:disabled {
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		opacity: 1;
		-webkit-text-fill-color: tint($primary-font-color, 25%);
		color: tint($primary-font-color, 25%);

		&:hover {
			cursor: default;
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
	}
}

.goto-tasks {
	@include span-columns(12);
	@include transition(visibility 0.2s ease);
}

.delete-container {
	@include span-columns(12);
	@include transition(visibility 0.2s ease);
	visibility: hidden;
	margin-top: -40px;

	.delete {
		background-color: $accent-color;
	}

	.confirm {
		@include span-columns(13 of 12);
		text-align: left;
		display: none;
		font-size: $font-size-small;

		button {
			background-color: tint($primary-color, 20%);

			&:hover {
				background-color: $primary-color
			}
		}

		#project-delete-cancel {
			margin-right: 8px;
			margin-left: 8px;
		}
	}
}

@include direction-context(right-to-left) {
	.project-settings {
		@include span-columns(2);
		@include transition(all 0.1s ease-in-out);
		font-size: $font-size-xlarge;
		text-align: right;
		margin-top: -12px;

		&:hover {
			text-decoration: none;
			color: $primary-color;
		}

		&:before {
			font-family: FontAwesome;
			content: "\f013";
		}
	}

	.save {
		@include span-columns(4 of 12);
		@include shift(-2.5);
		@include transition(all 0.1s ease-in-out);
		padding: 10px;
		margin-top: -8px;
		visibility: hidden;
	}
}

.project-grid {
	@include pad(15px);
	@include transition(all 0.2s ease-in-out);
	min-width: 18em;
	max-width: 20em;
	min-height: 16em;
	display: inline-block;
	text-align: center;
	@include padding (1.5em 2em 1.3em 2em);
	height: auto;
	color: tint($primary-font-color, 25%);
	border-radius: 2px;
	margin: 30px 0 30px 0;
	@include border-width(1px 1px 1px 15px);
	border-style: solid;
	border-color: $light-gray;
	border-radius: 15px;
	background-color: lighten($light-gray, 10%);
	@include shadow-btn-light($light-gray);
	vertical-align: middle;

	a {
		color: inherit;
		cursor: pointer;
	}

	h2 {
		margin-top: 40px;
	}

	i {
		display: block;
	}

	&:before {
		content: "";

	}

	.project-info {
		color: $secondary-font-color;
	}
}

.project-overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
	text-align: center;
	cursor: pointer;
	opacity: 0;

	@include transition(opacity 0.2s ease-in-out);
}

.project-modal {
	display: inline-block;
	@include margin(10% 20px 20px 20px);
	padding: 20px;
	background-color: $base-background-color;
	@include border-width(1px);
	border-style: solid;
	border-color: $light-gray;
	border-radius: 4px;
	background-color: lighten($light-gray, 10%);
	cursor: default;

	h3.secondary {
		margin-bottom: 40px;
	}

	textarea {
		@include span-columns(12);
		height: 150px;
		resize: none;
	}
}

.no-projects-msg {
	margin-top: 30%;
	text-align: center;
}

#projects {
	display: none;
}

#no-projects {
	display: none;
}

#project-amt {
	width: 123px;
	height: 50px;
	text-align: center;
}

@include media($inline-cards) {
	.project-grid {
		margin: 30px 1em 30px 1em;
	}
}

@include media($thin-max) {
	#project-amt {
		width: 103px;
	}

	.project-modal {
		textarea {
			height: 85px;
		}

		h3.secondary {
			font-size: $font-size-regular;
		}

		#project-description {
			font-size: $font-size-small;
		}

		#project-name {
			font-size: $font-size-small;
		}
	}
}

@include media($thin-min) {
	.project-modal {
		max-width: 620px;
		margin: 5%;
		margin-top: 10%;
	}
}
