.dollar-amt {
	text-align: left;
	@include row;
	@include span-columns(2);
	@include shift(-0.5);
	margin-top: -10px;

	&:before {
		font-family: FontAwesome;
		vertical-align: middle;
		content: "\f155";
		margin-right: 3px;
		color: tint($base-green, 10%);
		font-size: $font-size-xlarge;
	}
}

@include direction-context(right-to-left) {
	.project-settings {
		@include span-columns(2);
		@include transition(all 0.2s ease-in-out);
		@include shift(-0.75);
		font-size: $font-size-xlarge;
		margin-top: -10px;

		&:hover {
			text-decoration: none;
			color: $primary-color;
		}

		&:before {
			font-family: FontAwesome;
			content: "\f013";
		}
	}
}

.project-grid {

	@include transition(all 0.2s ease-in-out);
	@include span-columns(12);
	text-align: center;
	@include padding (1em 2em 1.3em 2em);
	height: auto;
	color: transparentarize($primary-font-color, 0.3);
	border-radius: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	@include border-width(1px 1px 1px 15px);
	border-style: solid;
	border-color: $light-gray;
	border-radius: 15px;
	background-color: lighten($light-gray, 10%);
	@include shadow-btn-light($light-gray);

	a {
		color: inherit;
		cursor: pointer;
	}

	h2 {
		margin-top: 40px;
	}

	i {
		display: block;
	}

	&:before {
		content: "";

	}

	.project-info {
		color: $secondary-font-color;
	}
}

.project-overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
	text-align: center;
	cursor: pointer;
	opacity: 0;

	@include transition(opacity 0.2s ease-in-out);
}

.project-modal {
	display: inline-block;
	@include margin(150px 20px 20px 20px);
	padding: 25px;
	background-color: $base-background-color;
	@include border-width(1px);
	border-style: solid;
	border-color: $light-gray;
	border-radius: 4px;
	background-color: lighten($light-gray, 10%);
	cursor: default;

	textarea {
		@include span-columns(12);
		height: 150px;
		resize: none;
	}
}

#projects {
	display: none;
}

#no-projects {
	display: none;
}

#project-amt {
	width: 110px;
	height: 50px;
	padding-left: 20px;
}