.timer {
  @include span-columns(12);
  margin-bottom: 15px;
  margin-top: 50px;
  padding: 0;
  border-radius: 3px;
  font-size: $font-size-medium;

  input {
    border-style: none;
    @include reset-shadow;
    padding: 15px;
    background-color: transparent;
    @include transition(box-shadow 0.2s ease);
    margin: 0;

    &:focus {
      @include btn-shadowing-full(2px);
    }
  }

  #task-name {
    @include span-columns(12 of 12);
    text-align: center;
  }

  #task-amt {
    text-align: center;
    color: transparentize($base-font-color, 0.2);
  }

  #stopwatch {
    @include row;
  }

  #timer-project {
    @include span-columns(12);
    @include row;
    margin-bottom: 15px;
  }

  .task-control {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    top: 10px;
    color: $secondary-accent-color;

    &:hover {
      cursor: pointer;
    }
  }
}

.play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent $secondary-accent-color;
  border-radius: 3px;
  @include transition(all 0.1s ease);

  &:hover {
    border-color: transparent transparent transparent $base-green;
  }

}

.stop {
  position: relative;
  margin-top: 3px;
  left: -2px;
  width: 25px;
  height: 25px;
  border-style: none;
  background-color: $accent-color;
  @include transition(all 0.1s ease);

  &:hover {
    background-color: $secondary-accent-color;
    border-color: $secondary-accent-color;
  }
}

.timer.form-grid {
  background-color: $base-background-color;
  padding: 0;
  color: transparentize($base-font-color, 0.2);

  &:hover {
    background-color: $base-background-color;
  }
}

#project-name {
  margin-top: -25px;
}

.task {
  @include span-columns(12);
  @include btn-shadowing(4px);
  border: 1px solid $divider-color;
  border-radius: 4px;
  background-color: lighten($light-gray, 30%);
  margin-bottom: 50px;
  @include padding(20px);

}

.task-section {
  @include span-columns(12);
  text-align: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }

}

.task-start, .task-end, .task-value {
  font-size: $font-size-xsmall;
}

.task-value {
  margin-top: 10px;
  display: block;
}

.task-name, .task-project-name {
  @include margin(0 5px 0 5px);
}

.task-name {
  font-family: OpenSans-Reg;
  margin-bottom: 5px;
}

.task-project-name {
  padding: 7px;
  font-family: OpenSans-Reg;
  font-size: $font-size-small;
}

.task-subsection {
  @include margin(0 15px 0 15px);
  font-size: $font-size-xsmall;
}

@include media($thin-max) {
  #task-amt {
    @include row;
    @include span-columns(12 of 12);
  }

  #stopwatch {
    @include row;
    @include span-columns(12 of 12);
  }
}

@include media($thin-min) {
  #stopwatch {
    text-align: left;
    display: inline-block;
    margin-top: 4px;
  }

  #task-amt {
    @include span-columns(5 of 12);
  }

  .remove-hr {
    display: none;
  }
}

@include media($mobile-max) {
  .task-value, .task-name {
    @include row;
  }
}

@include media($tablet) {

  .task-section {
      display: inline-block;
      @include span-columns(4);
  }

  .task-elapsed {
    margin-top: 25px;
    @include span-columns(8);
  }

}

@include media($tablet-max) {
  .task-project-name, .task-name, .task-value {
    @include row;
  }

  .task-project-name {
    @include span-columns(7 of 12);
    @include shift(2.5);
  }
}

@include media($wide-tablet) {

  .task-section {
    margin-bottom: 0;
  }

  .task-info {
    @include span-columns(6);
    @include shift(-0.25);
  }

  .task-elapsed {
    margin-top: 0;
    @include span-columns(6);
    @include shift(-0.25);
  }

  .task-value {
    display: inline;
    margin-left: 15px;
  }

  .task-start {
    margin-left: 35px;
  }

  .task-name {
    margin-bottom: 0;
  }

}
