.timer {
  margin-top: 20px;
  padding: 0;
  @include span-columns(10);
  @include shift(1);

  input {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    @include size(auto);
    padding: 10px;
    margin-bottom: 2px;
    background-color: transparentize(white, 0.1);
    border-radius: 0;
    color: tint($primary-color-dark, 20%);
  }
}

.timer-component {
  display: inline-block;
  @include size(auto);
  background-color: transparentize(white, 0.1);
  margin: 3px;
  padding: 10px;
  @include btn-shadowing(1px);
}

.timer-row {
  @include span-columns(12.6);
  padding: 0;
  margin: 0;
}

#stopwatch {
  @include span-columns(8 of 12);
  color: $base-font-color;
  font-size: 3.5rem;
  margin-right: 6px;
  color: tint($primary-color-dark, 20%);
  height: 80px;
  display: inline-block;
}

#task-name {
  @include span-columns(12 of 12);
  @include btn-shadowing(1px);
}

#task-control {
  text-align: center;
  @include span-columns(3.5 of 12);
  margin-left: 0;
  display: inline-block;
  font-size: $font-size-xxlarge;
  height: 80px;
  cursor: pointer;
}

#task-amt {
  @include row;
  @include span-columns(5.5 of 12);
  margin-right: 6px;
  height: 50px;
  @include btn-shadowing(1px);
  text-align: center;
}

#timer-project {
  @include span-columns(6 of 12);
  margin-left: 0;
  min-height: 50px;
  height: auto;
}

.play {
  color: $base-green;
  @include transition(all 0.1s ease);

  &:before {
    font-family: FontAwesome;
    content: "\f04b";
    border: none;
    font-style: normal;
  }

  &:hover {
    color: $primary-color;
  }
}

.stop {
  color: $accent-color;
  @include transition(all 0.1s ease);

  &:before {
    font-family: FontAwesome;
    content: "\f04d";
    font-style: normal;
  }

  &:hover {
    color: $primary-color;
  }
}
