button {
  	@include btn-shadowing(1px);

	&:focus {
  		background-color: $primary-color;
  		outline: none;
	}
}

.btn {
	outline: none;
}

.create {
	background-color: tint($primary-color, 25%);
	margin: 10px;
	margin-top: 5px;
	color: $inverted-font-color;
	@include padding(10px 15px);
	border: 0.5px solid $primary-color;
	@include shadow-btn-light($primary-color);
	@include transition(all 0.2s ease);
	cursor: pointer;

	&:hover {
		background-color: $primary-color;
	}

	&:focus {
		background-color: $base-green;
	}
}

.btn-container {
	@include span-columns(12);
}

.btn-display-only {
  cursor: auto;
}
