.form-msg {
	@include span-columns(10);
	@include shift(0);
	color: $inverted-font-color;
	background-color: $accent-color;
	text-align: center;
	padding: 20px;
}

.form-grid {

	@include transition(all 0.2s ease-in-out);
	@include span-columns(12);
	@include outer-container();
	text-align: center;
	@include padding (2em 2em 1.3em 2em);
	height: auto;
	color: $primary-font-color;
	border-radius: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	@include border-width(1px);
	@include border-style(solid);
	background-color: tint($divider-color, 50%);
	border-color: darken($divider-color, 25%);
	@include shadow-btn($divider-color);

	&:hover {
		text-decoration: none;
		@include shadow-btn($divider-color);
		border-color: darken($divider-color, 25%);
		background-color: $inverted-font-color;
	}

	i {
		display: block;
	}

	input, select {
		@include fill-parent;
		@include shift(0);
	}

	label {
		margin: 0;
		margin-top: 8px;
		@include span-columns(8);
		text-align: left;
		font-size: $font-size-small;
		color: $secondary-font-color;
	}

	input[type=checkbox] {
		@include span-columns(1);
	}

	.form-info {
		color: $secondary-font-color;
	}
}