.form-msg {
	@include span-columns(10);
	@include shift(0);
	color: $inverted-font-color;
	background-color: $accent-color;
	text-align: center;
	padding: 20px;
}

.form-grid {

	@include transition(all 0.2s ease-in-out);
	@include span-columns(12);
	@include outer-container();
	text-align: center;
	@include padding (2em 2em 1.3em 2em);
	height: auto;
	color: $primary-font-color;
	border-radius: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	@include border-width(1px);
	@include border-style(solid);
	background-color: tint($divider-color, 50%);
	border-color: darken($divider-color, 25%);
	@include shadow-btn($divider-color);

	&:hover {
		text-decoration: none;
		@include shadow-btn($divider-color);
		border-color: darken($divider-color, 25%);
		background-color: $inverted-font-color;
	}

	i {
		display: block;
	}

	input, select {
		@include fill-parent;
		@include shift(0);
	}

	label {
		margin: 0;
		margin-top: 8px;
		@include span-columns(8);
		text-align: left;
		font-size: $font-size-small;
		color: $secondary-font-color;
	}

	input[type=checkbox] {
		@include span-columns(1);
	}

	.form-info {
		color: $secondary-font-color;
	}
}

.select-colors {
	@include transition(border 0.1s ease-in-out);
	@include span-columns(3 of 12);
	position: relative;
	height: 50px;
	width: 150px;
	padding: 7px 60px 7px 7px;
	@include border-style(solid);
	@include border-width(1px);
	border-radius: 4px;
	border-color: tint($divider-color, 40%);
	background-color: tint($base-background-color, 15%);
	@include btn-shadowing(1px);
	cursor: pointer;

	&:hover {
		border-color: $divider-color;
	}
}

.selected-color {
	width: 75%;
	height: 100%;
	background-color: $accent-color;
	border-radius: 2px;

	&:after {
		position: relative;
		font-family: FontAwesome;
		font-size: $font-size-regular;
		content: "\f02b \00a0 label";
		margin-left: 70px;
		top: 4px;
		color: shade($secondary-font-color, 10%);
		@include transition(color 0.1s ease-in-out);
	}
}

.color-list {
	background-color: $base-background-color;
	@include span-columns(11);
	@include shift(0.5);
	@include transition(opacity 0.1s ease-in-out);
	border-radius: 5px;
	@include box-shadowing-full;
	padding: 5px;
	position: relative;
	top: -10%;
	cursor: default;
	opacity: 0;
	display: none;

	.color-item {
		position: relative;
		@include span-columns(3.33 of 11);
		margin: 8px;
		height: 50px;
		border-radius: 2px;
		z-index: 5;
		@include transition(background 0.1s ease-out);
		cursor: pointer;
	}

	.blue {
		background-color: $primary-color;

		&:hover {
			background-color: tint($primary-color, 15%);
		}
	}

	.red {
		background-color: $accent-color;

		&:hover {
			background-color: tint($accent-color, 15%);
		}
	}

	.green {
		background-color: $base-green;

		&:hover {
			background-color: tint($base-green, 15%);
		}
	}

	.yellow {
		background-color: $base-amber;

		&:hover {
			background-color: tint($base-amber, 25%);
		}
	}

	.purple {
		background-color: $base-purple;

		&:hover {
			background-color: tint($base-purple, 15%);
		}
	}

	.cyan {
		background-color: $base-cyan;

		&:hover {
			background-color: tint($base-cyan, 25%);
		}
	}

	&:before {
		@include position(absolute, 0 1em 0 0);
		color: $base-background-color;
		margin-top: -0.9em;
		left: -60%;
		padding: 0;
		font-family: FontAwesome;
		font-size: $font-size-huge;
		content: "\f0d8";
		z-index: 2;
	}

}

.tooltip-element {
	@include span-columns(12);
	width: auto;
	height: auto;
	position: relative;
	text-align: center;
	padding: 0;

	&:focus,
	&:hover .tooltip {
		opacity: 1;
		visibility: visible;
	}
}

.tooltip {
	visibility: hidden;
	@include transition(all 0.2s ease-in-out);
	@include position(absolute, null 0 5.4em 0);
	max-width: 12em;
	height: auto;
	padding: 0.5em;
	margin: auto;
	@include border-style(solid);
	@include border-width(1px);
	@include btn-shadowing(1px);
	border-radius: 4px;
	border-color: $light-gray;
	text-align: center;
	line-height: 1.5em;
	background-color: lighten($light-gray, 10%);
	opacity: 0;

	&:after {
		@include position(absolute, null 0 null 0);
		border: 8px solid transparent;
		color: lighten($light-gray, 10%);
		content: '▼';
		font-size: 1.4em;
		margin-left: -8px;
		margin-top: -2px;
		text-align: center;
		text-shadow: 0 2px 2px $shadow-color;
	}

	p {
		font-size: $font-size-xsmall;
		margin: 0;
	}
}

.tags {
	@include span-columns(12);
}

@include media($thin-max) {
	.select-colors {
		@include span-columns(6 of 12);
	}

	.selected-color {
			&:after {
				margin-left: 42px;
			}
	}

	.color-list {
		top: -17%;
	}
	
	.color-item {
		@include span-columns(3.2 of 11);
	}
}
