.hover-opacity {
	
	@include transition(opacity 0.3s ease);

	&:hover {
		opacity: 0.8;
	}
}

.link-grid {

	@include transition(all 0.2s ease-in-out);
	@include span-columns(10);
	@include shift(1);
	text-align: center;
	@include padding (2em 2em 1.3em 2em);
	height: auto;
	color: $inverted-font-color;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	@include border-width(1px);
	@include border-style(solid);

	@for $i from 1 through length($link-grid-colors) {

		&:nth-child(#{$i}) {
			$list-background-color: nth($link-grid-colors, $i);
			background-color: $list-background-color;
			border-color: darken($list-background-color, 25%);
			@include shadow-btn($list-background-color);

			&:hover {
				text-decoration: none;
				background-color: shade($list-background-color, 10%);
			}
		}
	}

	i {
		display: block;
		margin-bottom: -15px;
	}
}