@include direction-context(right-to-left) {
	.nav-list {
		@include span-columns(7);
		@include omega;
		padding: 0;
		margin: 0;
		margin-top: -10px;
		margin-right: -10px;
		background-color: $primary-color-dark;
		text-align: center;
		height: 0;
		display: none;
		overflow: hidden;

		a {
			color: $inverted-font-color;
		}

		li {
			list-style-type: none;
		}
	}

	.menu-right {
		i {
			@include span-columns(1.2 of 12);
			@include pad(0 0 0 2px);
			margin-top: 15px;
			color: $inverted-font-color;
		}
	}

	.menu-item {
		a {
			@include dropdown-link-reset;
			@include transition(all 0.3s ease);
			padding: 10px;

			&:hover {
				background-color: $primary-color-light;
				text-decoration: none;
				color: $primary-font-color;
			}
		}
	}
}