@include direction-context(right-to-left) {
	.nav-list {
		@include span-columns(12);
		@include omega;
		@include box-shadowing;
		padding: 0;
		margin: 0;
		margin-top: -28px;
		margin-right: -25px;
		background-color: $primary-color-dark;
		text-align: center;
		height: 0;
		width: 110%;
		display: none;
		overflow: hidden;
		border-bottom: 4px solid $primary-color;
		z-index: 100;
		position: relative;

		a {
			color: $inverted-font-color;
		}

		li {
			list-style-type: none;
		}
	}

	.menu-right {
		i {
			@include span-columns(1.2 of 12);
			@include pad(0 0 0 2px);
			margin-top: 15px;
			color: $inverted-font-color;
		}
	}

	.menu-item {
		a {
			@include dropdown-link-reset;
			@include transition(all 0.3s ease);
			padding: 10px;

			&:hover {
				background-color: $primary-color-light;
				text-decoration: none;
				color: $primary-font-color;
			}
		}
	}
}