@include media($menu-max) {
	@include direction-context(right-to-left) {
		.nav-list {
			@include span-columns(12);
			@include omega;
			@include box-shadowing;
			padding: 0;
			margin: 0;
			margin-top: -28px;
			margin-right: -10px;
			background-color: $primary-color-dark;
			text-align: center;
			height: 0;
			width: 110%;
			display: none;
			overflow: hidden;
			border-bottom: 4px solid $primary-color;
			z-index: 100;
			position: relative;

			a {
				color: $inverted-font-color;
			}

			li {
				list-style-type: none;
			}
		}

		.menu-right {
			i {
				@include span-columns(2 of 12);
				@include shift(0);
				@include pad(0 0 0 2px);
				text-align: center;
				margin-top: 15px;
				color: $inverted-font-color;
			}
		}

		.menu-item {
			a {
				@include dropdown-link-reset;
				@include transition(all 0.3s ease);
				padding: 10px;

				&:hover {
					background-color: $primary-color-light;
					text-decoration: none;
					color: $primary-font-color;
				}
			}
		}

		.mobile-hidden {
			display: none;
			margin-left: 1em;
		}
	}
}

@include media($desktop-min) {
	.activate-menu {
		display: none;
	}

	.nav-list {
		@include span-columns(4);
		border: none;
		display: inline !important;
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		position: relative;
		color: $inverted-font-color;
		top: 23px;
		text-align: left;
		margin: 0;

		.menu-item {
			display: inline;
			margin-left: 1em;

			a {
				display: inline;
				color: $inverted-font-color;
				@include transition(color 0.1s ease-in-out);

				&:hover {
					color: $accent-color;
					text-decoration: none;
				}
			}
		}
	}

	.desktop-hide {
		visibility: hidden;
	}

	@include direction-context(right-to-left) {
		.user-controls {
			@include span-columns(3);
			color: $inverted-font-color;
			text-align: center;
			margin-top: 16px;
			font-size: $font-size-small;

			#or {
				margin: 0 10px 0 10px;
			}

			#login {
				background-color: tint($primary-color, 25%);

				&:hover {
					background-color: $primary-color
				}
			}
		}
	}
}

@include media($desktop-large) {
	.user-controls {
		margin-right: 2%;
	}
}

@include media($desktop-wide) {
	.nav-list {
		@include span-columns(3);
	}
	.user-controls {
		margin-right: 5%;
	}
}
