<section class="sctn-light" id="projects">
	<h3 class="inline secondary">Projects</h3><button class="btn create" id="new-project">New project</button>
</section>
<section class="sctn-light" id="no-projects">
	<h1>No projects, {{name}}</h1>
</section>
{{> newproject }}