<section class="sctn-light" id="projects">
	<h2 class="inline">Projects</h2><button class="btn create">New project</button>
</section>
<section class="sctn-light" id="no-projects">
	<h1>No projects, {{name}}</h1>
</section>