{{> loader }}
<section class="sctn-light" id="projects">
	<h3 class="inline secondary">Projects</h3><button class="btn create new-project">New project</button>
</section>
<section class="sctn-light" id="no-projects">
	<h3 class="inline secondary">Projects</h3><button class="btn create new-project">New project</button>
	<p class="no-projects-msg secondary">Add a new project and start timing your tasks.</p>
</section>
{{> newproject }}
