{{#if loggedIn}}
	<a href="users">Go to dashboard</a>
{{else}}
	<section class="sctn-light">
		<h1><span class="accent">Cronus</span> is a <span class="accent">simple</span> way to track <span class="accent">time</span> and <span class="accent">billables</span></h1>
		<p class="center italics">Track anything from homework through to large projects.</p>
	</section>
	<section class="sctn-dark">
		<a href="register" class="link-grid">
			<i class="fa fa-tasks fa-3x"></i>
			<h2>Start tracking your projects.</h2>
		</a>
		<p class="center">Get started with Cronus - it's completely free and dead easy to use.</p>
	</section>
	<section class="light">
	</section>
{{/if}}