{{#if loggedIn}}
	<a href="users">Go to dashboard</a>
{{else}}
	<section class="sctn-light">
		<h1>Cronus is a simple, free way to track time and billables</h1>
		<p>Track anything from homework through to large projects.</p>
	</section>
	<section class="sctn-dark">
		<a href="register" class="link-grid">
			<i class="fa fa-tasks fa-3x"></i>
			<h2>Start tracking your projects.</h2>
			<p>Get started with Cronus - it's completely free and dead easy to use.</p>
		</a>
	</section>
{{/if}}