<p>{{msg}}</p>
<p>Please login.</p>
<form method="POST">
	<input type="text" placeholder="Your eMail address" name="email">
	<input type="password" placeholder="Your password" name="password">
	<input type="submit" value="Submit"></input>
</form>