<section class="sctn-dark-gradient no-footer">
	{{#if msg}}
		<p class="form-msg">{{msg}}</p>
	{{/if}}
	<h1>Login to your <span class="accent">Cronus</span> dashboard.</h1>
	<form method="POST" class="form-grid">
		<input type="hidden" name="_csrf" value={{csrfToken}}>
		<input type="text" placeholder="Your eMail address" name="email" value={{email}}>
		<input type="password" placeholder="Your password" name="password">
		<input type="submit" value="Submit"></input>
		<p class="form-info">
			Don't have an account? Register with Cronus <a href="register">here</a>.
		</p>
	</form>
</section>