<p>{{msg}}</p>
<form method="POST">
	<input type="text" placeholder="First Name" name="first_name">
	<input type="text" placeholder="Last Name" name="last_name">
	<input type="text" placeholder="eMail address" name="email">
	<input type="password" placeholder="password" name="password">
	<input type="submit" value="Submit"></input>
</form>