//Breakpoints
$mobile-max: new-breakpoint(max-width 550px 12);
$thin-min: new-breakpoint(min-width 358px 12);
$thin-max: new-breakpoint(max-width 358px 12);
$tablet-small: new-breakpoint(min-width 484px 12);
$tablet: new-breakpoint(min-width 550px 12);
$tablet-max: new-breakpoint(min-width 550px max-width 763px 12);
$menu-max: new-breakpoint(max-width 884px 12);
$desktop-min: new-breakpoint(min-width 884px 12);
$desktop-large: new-breakpoint(min-width 970px 12);
$desktop-wide: new-breakpoint(min-width 1024px 12);
$inline-cards: new-breakpoint(min-width 649px 12);
$wide-tablet: new-breakpoint(min-width 780px 12);
$wide-tablet-max: new-breakpoint(max-width 780px 12);
