@mixin dropdown-link-reset {
	display: block;
	width: 100%;
	height: 100%;
}

// Shadows

@mixin box-shadowing {
	box-shadow: 0 10px 10px 0 $shadow-color;
}

@mixin shadow-btn($color) {
	box-shadow: inset 0px 0px 1px 1px darken($color, 10%);
}

@mixin shadow-btn-light($color) {
	box-shadow: inset 0 0 1px $color, 0 2px 4px darken($base-background-color, 10%);
}