//Color variables
$base-background-color: #fdfcf7;
$primary-color-dark: #204264;
$primary-color:	#598DA6;
$primary-color-light: #A0BDBF;
$accent-color: #CC4C37;
$primary-font-color: #272727;
$secondary-font-color: #727272;
$inverted-font-color: #F8F8F8;
$shadow-color: rgba(0, 0, 0, 0.4);

//Font variables
$font-size-xxlarge: 5rem;
$font-size-xlarge:	4rem;
$font-size-large:	3rem;
$font-size-medium:	2rem;
$font-size-regular:	1.8rem;
$font-size-small:	1.3rem;
$font-size-xsmall:	1rem;