//Color variables
$base-background-color: #fdfcf7;
$dark-background-color: #f2f1ea;
$primary-color-xdark: #132a40;
$primary-color-dark: #204264;
$primary-color:	#346ca5;
$primary-color-light: #A0BDBF;
$accent-color: #CC4C37;
$secondary-accent-color: #4f9aee;
$accent-color-dark: #a1311f;
$primary-font-color: #272727;
$secondary-font-color: #727272;
$inverted-font-color: #F8F8F8;
$divider-color: #B6B6B6;
$shadow-color: rgba(0, 0, 0, 0.4);
$base-green: #4CAF50;
$base-amber: #FFC107;
$base-purple: lighten(#673AB7, 12%);
$base-cyan: #00BCD4;

//Font variables
$font-size-huge: 5rem;
$font-size-xxlarge: 4rem;
$font-size-xlarge:	3rem;
$font-size-large:	2.5rem;
$font-size-medium:	2rem;
$font-size-regular:	1.6rem;
$font-size-small:	1.3rem;
$font-size-xsmall:	1rem;

//Grid color lists
$link-grid-colors:
	$accent-color,
	$primary-color-light;